#root {
  margin: 0 auto;
  height: 100vh;
}

.expanded-tabs {
  width: 100%;
  height: 100%;
}

.expanded-tabs .ant-tabs, .expanded-tabs .ant-tabs-tabpane {
  height: 100%;
}

.expanded-tabs .ant-tabs-content-holder {
  display: flex;
}